body {
  background-color: #f8f9fa;
}

.callable {
  cursor: pointer;
  user-select: none;
  color: #0066CC;
}

.callable:hover {
  background-color: #e9ecef;
}

.btn-group .btn {
  margin: 2px;
}

.source-group {
  background-color: #e9ecef;
  font-weight: bold;
}

.year-header {
  background-color: #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

#numPaper {
  pointer-events: none; /* 禁用交互 */
  opacity: 0.6; /* 可选：降低透明度表示禁用状态 */
  cursor: not-allowed; /* 可选：更改鼠标指针为禁用状态 */
}



.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

.md-header__source {
  margin-left: 20px;
}

.md-source {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.md-source__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.md-source__icon svg {
  width: 100%;
  height: 100%;
  color: rgb(98, 98, 239);
  fill: currentColor;
}

.md-source__repository {
  font-size: 0.9rem;
}